{%load static%}
<!DOCTYPE html>
<html>

<head>
	<title>About Us</title>
	<link rel="stylesheet" href="{%static 'css/about.css'%}">
</head>


{%block "body"%}

<body>
	<div class="container">
		<center>
			<h1>About Us...</h1>
			<div class="img">

			</div>
			<p>
				Our aim is to provide latest news regarding latest openings in Government sector . Sometimes we miss the
				job we deserve just due to lack of on time notification. Sometimes employment News does not reach on
				time due to mistake of postal department or some unforeseen reasons. home cyber came forward to help you
				all in this problem.
			</p>
			<button class="btn">Read more...</button><br><br><br>
			<div>
				<button class="a"><a href="/">Home</a></button>
			</div>
		</center>
	</div>
</body>
{%endblock%}

</html>