{%load static%}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="side">
    <h2><a href="/">Home</a></h2>
    <h2>
        <link rel="stylesheet" href="{% static 'css/about.css' %}"><a href="about">About Us</a>
    </h2>
    <h2>
        <link rel="stylesheet" href=""><a href="contact">Contact Us</a>
    </h2>
    {%if user.is_authenticated%}
    <h2>
        <link rel="stylesheet" href=""><a href="vacancies">Vacancies</a>
    </h2>
    <h2>
        <link rel="stylesheet" href=""><a href="feedback">Feed Back</a>
    </h2>
    <h2>
        <link rel="stylesheet" href=""><a href="follow">Follow Us</a>
    </h2>
    <h2><a href="logout">Log-Out</a></h2>
    <h2><a href="New_User">New User</a></h2>
    {%else%}
    <h2><a href="register">Register</a></h2>
    <h2><a href="login">Login</a></h2>
    {%endif%}
</div>

<div class="main">
    {%block "body"%}

    {%endblock%}
</div>