<!DOCTYPE html>

<html>

<head>
    <title>new 1</title>
    <style type="text/css">
        .a1 {
            color: white;
            text-align: center;
            font-size: 25px;
            font-family: Times New Roman;
        }
    </style>
</head>

{%load static%}

<body background="{% static 'css/shailesh.png' %}">
    <h1 style="color: skyblue ; font-family:Segoe Script ; font-size: 40px; text-align: center;">Welcome To GR Page</h1>
    <center>

        <table border="1" cellpadding="5" cellspacing="10">
            <caption>
                <h3 style="color: white; font-size: 25px; font-family: Times New Roman">
                    SSC_Constable_Recruitment_2020_5846_Posts</h3>
            </caption>
            <tr class="a1">
                <th>Age Limit</th>
                <th>Educational Qualification</th>
                <th>Last Date For Online Application</th>
                <th>Notification</th>
                <th>Apply Online</th>
            </tr>

            <tr class="a1">
                <td>19-35</td>
                <td>SSC/HSC/Graduate</td>
                <td>19/10/2020(updated)</td>
                <td><a href="https://drive.google.com/file/d/1Se2bGg0VVc9PMOD8_9p_aRmKl7fiDOJp/view?usp=sharing"
                        style="color: white">View</a></td>
                <td><a href="#" style="color: white">https://ssc.nic.in</a></td>
            </tr><br>

            <table border="1" cellpadding="5" cellspacing="10">
                <caption>
                    <h3 style="color: white; font-size: 25px; font-family: Times New Roman">
                        Cochin_Shipyard_Recruitment_2020_for_577_Workmen_Posts</h3>
                </caption>
                <tr class="a1">
                    <th>Age Limit</th>
                    <th>Educational Qualification</th>
                    <th>Last Date For Online Application</th>
                    <th>Notification</th>
                    <th>Apply Online</th>
                </tr>

                <tr class="a1">
                    <td>18-25</td>
                    <td>SSC/HSC/Graduate</td>
                    <td>23/11/2020</td>
                    <td><a href="https://drive.google.com/file/d/1Sqx5qzwZZ9xg9KWgLFXI5GUKkr2lhen6/view?usp=sharing"
                            style="color: white">View</a></td>
                    <td><a href="#" style="color: white">http://www.cochinshipyard.com</a></td>
                </tr><br>

                <table border="1" cellpadding="5" cellspacing="10">
                    <caption>
                        <h3 style="color: white; font-size: 25px; font-family: Times New Roman">
                            DRDO_RCI_Recruitment_2020_for_90_Apprentice_Posts</h3>
                    </caption>
                    <tr class="a1">
                        <th>Age Limit</th>
                        <th>Educational Qualification</th>
                        <th>Last Date For Online Application</th>
                        <th>Notification</th>
                        <th>Apply Online</th>
                    </tr>

                    <tr class="a1">
                        <td>18-25</td>
                        <td>SSC/HSC/Graduate</td>
                        <td>23/11/2020</td>
                        <td><a href="https://drive.google.com/file/d/16G-B0i1mZ-tFtBH4zCt-CbD7dqpusaJR/view?usp=sharing"
                                style="color: white">View</a></td>
                        <td><a href="#" style="color: white">https://apprenticeshipindia.org/</a></td>
                    </tr><br>

                    <table border="1" cellpadding="5" cellspacing="10">
                        <caption>
                            <h3 style="color: white; font-size: 25px; font-family: Times New Roman">
                                Hindustan_Shipyard_Recruitment_2020_for_40_Apprentice_Posts</h3>
                        </caption>
                        <tr class="a1">
                            <th>Age Limit</th>
                            <th>Educational Qualification</th>
                            <th>Last Date For Online Application</th>
                            <th>Notification</th>
                            <th>Apply Online</th>
                        </tr>

                        <tr class="a1">
                            <td>18-25</td>
                            <td>SSC/HSC/Graduate</td>
                            <td>23/11/2020</td>
                            <td><a href="https://drive.google.com/file/d/1DdQGYdB9OCRq8nBJdC0pmbiaGuXekD01/view?usp=sharing"
                                    style="color: white">View</a></td>
                            <td><a href="#" style="color: white">http://www.mhrdnats.gov.in/</a></td>
                        </tr><br>

                        <table border="1" cellpadding="5" cellspacing="10">
                            <caption>
                                <h3 style="color: white; font-size: 25px; font-family: Times New Roman">
                                    PNB_Recruitment_2020_for_535_Specialist_Officers_Posts</h3>
                            </caption>
                            <tr class="a1">
                                <th>Age Limit</th>
                                <th>Educational Qualification</th>
                                <th>Last Date For Online Application</th>
                                <th>Notification</th>
                                <th>Apply Online</th>
                            </tr>

                            <tr class="a1">
                                <td>18-25</td>
                                <td>SSC/HSC/Graduate</td>
                                <td>23/11/2020</td>
                                <td><a href="https://drive.google.com/file/d/1qPUZ-LiZBNRYIMBYEPhBAnbQS55ScK8s/view?usp=sharing"
                                        style="color: white">View</a></td>
                                <td><a href="#" style="color: white">https://www.pnbindia.in/</a></td>
                            </tr>



                        </table>
                    </table>
                </table><br><br>

                <button style="font-size: 25px" type="Next page" name="NextPage" value="Next Page"
                    class="Next Page btn"><a href="nextpage">NextPage</a></button>
                <button style="font-size: 25px" type="logout" name="LogOut" value="LogOut" class="logoutbtn"><a
                        href="logout">LogOut</a></button>
                <button style="font-size: 25px" type="Home" name="Home" value="Home" class="Homebtn"><a
                        href="/">Home</a></button>


    </center>
</body>

</html>